@charset "UTF-8";
#header_top {
	position: relative;
    text-align: center;
    font-size: 14px;
    background: rgba(66,66,66,0.9);
    color: #ffffff;
    margin-bottom: 50px;
    padding: 10px 0 0;
}
#header_top>.header {
	position: absolute;
    top: 0;
    left: 60px;
    padding: 13px 0;
    line-height: 30px;
}
#header_top>.header>.header_img {
	width: 88px;
    height: 30px;
    background-position: left -120px top -120px;
    background-image: url(/img/common-logo.png);
    background-size: 400px auto;
}
#header_top>.header_align {
	display: inline-block;
    overflow: hidden;
}
#header_top>.header_align>.title{
	float: left;
    line-height: 50px;
    padding: 0 10px;
}
#image_upload{
	
	width: 800px;
	height: 330px;
	border : 1px solid red;
	margin : 0 auto;
}
#title_write {
	padding-top: 30px;
}
.form_group {
	width: 800px;
	height: 1200px;
	/* border : 1px solid red; */
	margin : 0 auto;
	font-size: 20px;
}
#form_image {
	clear: both;
    margin: 0 0 30px;
    padding: 20px 10px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
#information > .information_header {
	margin-bottom: 20px;
    font-size: 16px;
}
#information > .field {
	margin-bottom: 20px;
	font-size: 16px;
}
#sel1 {
	width: 150px;
}












