@charset "UTF-8";
#header_top {
	position: relative;
    text-align: center;
    font-size: 14px;
    background: rgba(66,66,66,0.9);
    color: #ffffff;
    margin-bottom: 50px;
    padding: 10px 0 0;
}
#header_top>.header {
	position: absolute;
    top: 0;
    left: 60px;
    padding: 13px 0;
    line-height: 30px;
}
#header_top>.header>.header_img {
	width: 88px;
    height: 30px;
    background-position: left -120px top -120px;
    background-image: url(/img/common-logo.png);
    background-size: 400px auto;
}
#header_top>.header_align {
	display: inline-block;
    overflow: hidden;
}
#header_top>.header_align>.title{
	float: left;
    line-height: 50px;
    padding: 0 10px;
}

