@charset "UTF-8";
#container {
	width:50%;
	height: 100px;
	margin-top: 160px;
	margin-left: 440px;
}
.img1 {
	width: 400px;
	height: 300px;
	margin-left: 500px;
}
.img_title {
	margin-top: 20px;
	color: black;
	font-size: 17px;
	font-weight:bold;
	text-align:center;
}