@charset "UTF-8";
.container {
	margin-left: 200px;
	margin-top: 50px;
}
.main_image {
	width: 1000px;
	height: 500px;
	border-bottom : 100px;
	margin-left:100px;
	margin-top:6%;
	border: 1px solid red;
}
.slide_image {
	width: 300px;
	height: 500px;
	margin-left : 105%;
	border: 1px solid red;
	
}