@charset "UTF-8";
.user-show-layout{
		position: relative;
	}
	.wrap-nav{
		margin: 0;
		padding: 0;
	}
	.myhome-nav{
		position: relative;
		widows: 100%;
		margin: 0 auto;
		font-size: 18px;
	}
	.page-myhome-nav{
		border-bottom: 1px solid #ededed;
	    width: 100%;
	    overflow: hidden;
	}
	.page-myhome-nav ul{
		text-align:  center;
		white-space: nowrap;
	}
	.page-nav-item{
		display: inline-block;
	}
	.page-nav-item a{
		display: block;
	    padding: 0 10px;
	    font-weight: 700;
	    position: relative;
	    height: 60px;
	    line-height: 60px;
	    transition: color .15s ease;
	    margin-left: 30px;
	}
	.active{
		color: #35c5f0;
	}
	.nav-nav{
		font-size: 15px;
	}
	.container{
		margin-bottom: 40px;
	}
	.row{
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		margin-right: -10px;
		margin-left: -10px;
	}
	.wrap-profile{
		order:1;
		padding-top: 30px;
		padding-left: 10px;
		padding-right: 10px;
	}
	.user-profile{
		padding-top: 20px;
	}
	.user-profile img{
		border-radius : 100%;
		width: 130px;
		height: 130px;
		margin-right: 50px;
	}
	.user-profile-top{
		font-size: 13px;
	}
	.profile-info-name{
		font-size: 30px;
    	line-height: 40px;
   		margin-bottom: 9px;
    	overflow-wrap: break-word;
	}
	
	
	.follower{
		color: inherit; 
		padding-left: 10px; 
		padding-right: 10px;
	}
	.short-cut{
		margin-top: 30px;
	}
	.short-cut-item a{
		display: block;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
		
	}
	.short-cut{
		display: flex;
   		box-sizing: border-box;
	}
	
	
	
	
	
	
	
	