@charset "UTF-8";

/* 전체를 감싸는 DIV */
.sellerJoinFormDiv {
	width: 50%;
	margin: 0 25%;
}

/* 제목 */
#topDiv {
	margin-top: 10%;
	text-align: center;
}

#top1 {
	
}

#top2 {
	
}

.topInfo {
	font-weight: 800;
}

/* 수평선 */
hr {
	margin: 5% 0px;
}

/* 폼 안 */

/* 각 세션 */
.session {
	
}

.mid-titleDiv {
	margin-bottom: 5%;
}

.mid-title {
	font-size: 1.6em;
	font-weight: 800;
}

.form-group {
	padding: 10px 0px;
}

.required {
	color: red;
}

.form-control, input[type="file"] {
	width: 80%;
	margin-right: 1%;
	display: inline-block;
	margin-left:1%;
}


/* 카테고리 선택 창 시작 */

.selCat{
	display: inline;
	height:40px;
	text-align: center;
	border-top:1px solid lightgray;
	border-left:1px solid lightgray;
}

.bottom{
	border-bottom:1px solid lightgray;
}

.right{
	border-right: 1px solid lightgray;
}


.selCat a{
	height: 40px;
	width: 100%;
}

.category-1{
	color: black;
	line-height: 40px;
}

.category-1:hover{
	color:black;
	text-decoration: none;
	cursor: pointer;
}


/* 카테고리 선택 창 끝 */

.radioBtn{
	
	margin-left:20px;
	display:inline-block;
	
}


.unit{
	display:inline;
}

.phar{
	font-size: 0.9em;
	width: 80%;
	float: right;
	margin-top:10px;
	margin-right: 10%;
}


input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}

input:focus::-ms-input-placeholder {
	color: transparent;
}

/* 규정 */
.policy {
	font-size: 0.8em;
}

.policyInfo {
	border: 1px solid #e6e6e6;
	border-collapse: collapse;
	width: 100%;
	font-size: 1.0em;
	text-align: center;
	margin: 30px 0px;
}

.p1 {
	border: 1px solid #e6e6e6;
	background-color: #efefef;
	width: 33.3333%;
	padding: 10px;
}

.p2 {
	border: 1px solid #e6e6e6;
	width: 33.3333%;
	padding: 20px 10px;
}

/* 동의 */
.agree {
	text-align: center;
	margin-bottom: 40px;
}

#agreeCk /* 신청 */ 
#submitDiv {
	width: 100%;
	align-contents: center;
}

#submitBtn {
	width: 30%;
	text-align: center;
	margin: 30px 35% 50px;
	height: 60px;
	position: relative;
	background-color: rgb(53, 197, 240);
	color: white;
	font-size: 1.2em;
	font-weight: 700;
	border: 0;
	outline: 0;
}