@charset "UTF-8";
#header {
	margin-left: 700px;
	margin-top:30px;
	
}
.qna {
	width:200px;
	margin-left:700px;
	margin-top:100px;
	font-size: 32px;
	font-weight:bold;
}
.qna_sub {
	width:400px;
	margin-left:700px;
	font-weight:bold;
	font-size: 15px;
}
#qna_go {
	color: #35C5F0;
	text-decoration: underline;
}
.upload_btn {
	display: block;
    width: 90px;
    height: 90px;
    background-color: #35C5F0;
    color: white;
    border: none;
    border-radius: 100%;
    font-weight: bold;
    font-size: 13px;
    margin-left:63%;
}
.form-group {
	width:750px;
	margin-left:700px;
}
#tag {
	width:750px;
	margin-left:700px;
	font-weight:bold;
	font-size:15px;
	color:#bdbdbd;
}
.tag_count {
	width:750px;
	margin-left:700px;
	color: #bdbdbd;
	margin-top : 10px;
	font-size: 13px;
}
.btn-priority {
	width:350px;
	height:70px;
	background-color: #35C5F0;
    border-color: #35C5F0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 900px;
}
.click {
	width:500px;
	margin-left:700px;
}
.checkbox-inline {
	margin: 10px;
}
.keyword_select {
	font-weight: bold;
}
