@charset "UTF-8";

#title {
	margin: 40px auto 0px;
	display: inline-block;
	width: 100%;
}

#title>h4, h1 {
	margin: 30 auto;
	text-align: center;
	font-weight: 800;
}

hr {
	margin: 50px 0px 40px;
	color: lightgray;
}

h3 {
	font-weight: 700;
	margin-bottom: 30px;
}


.title {
	width: 200px;
	font-weight: 600;
	font-family: sans-serif;
	vertical-align: top;
}
.input{
	height: 30px;
	
}
.title,.input {
	padding: 10px;
}

input::placeholder {
	color: #d9d9d9;
}

input[type="text"],input[type="number"],input[type="email"] {
	width: 400px;
	height: 30px;
	color: gray;
}

textarea {
	width: 400px;
}

input[type="checkbox"] {
	width: 18px;
}

p {
	font-size: 0.8em;
}

textarea {
	resize: none;
}

.nec{
	text-decoration: none;
	color: red;
}
.nec:hover{
	text-decoration: none;
	color: red;
}
#nec2{
	color:#35c5f0;
	text-decoration: none;
	font-weight: 1000;
}
#nec2:hover{
	color:#35c5f0;
	text-decoration: none;
}
.joinForm {
	width: 50%;
	margin: 0 auto;
}

.agree {
	height: 30px;
	text-align: center;
	margin-bottom: 30px;
}

label {
	vertical-align: center;
	font-size: 1.2em;
}

#alert {
	border-collapse: collapse;
	border: 1px solid gray;
	margin: 20px auto;
}

#alert tr:first-child {
	background-color: #dbdbdb;
	font-weight: 600;
}

#alert td {
	border: 1px solid gray;
	width: 310px;
	text-align: center;
	height: 40px;
}

#selCat{
	width: 560px;
	height: 180px;
	border:1px dashed lightgray;
}
#selCat td{
	width: 140px;
	height: 60px;
	border: 1px dashed lightgray;
	text-align: left;
	padding-left:6px;
}
#categoryDiv{
	margin-top:20px;
	float: right;
}
#apply{
	display:block;
	margin-bottom: 50px;
}

#apply>input{
	width: 300px;
	height: 60px;
	position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(53, 197, 240);
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    border: 0;
    outline: 0;
}