@charset "UTF-8";



#header {
	height: 130px;
}
#banner {
	margin:40px 0px;
	height: 375px;
	
}
.container{
	margin-bottom: 30px;
}

.container-fluid{
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}
h3{
	font-weight: 800;
	font-size: 1.4em;
}
#category{
	margin-top:20px;
}
.cat{
	display: inline-block;
	text-decoration:  none;
	float: left;
	margin-right: 10px;
	text-align: center;
	vertical-align:middle;
	width: 10%;
	height: 120px;
	font-weight: 700;
	padding-top:10px;
}
.cat:hover{
	border: 1px solid lightgray;
}
.cat-name{
	margin-bottom : 0px;
	line-height: 40px;
}
#category img{
	width: 60px;
	height: 60px;
}

/* 인기 키워드 */
.popkey{
	margin-bottom:20px;
}
#keyword{
	margin: 0 auto;

}
.keyword{
	height: 140px;
	display: inline-block;
	text-align: center;
	padding:10px;
}

#keyword img{
	width: 100%;
	height:auto;
}

/* 인기상품 */

.subject{
	display:block;
	margin: 20px 0px;
}
.popular{
	display:inline-block;
}
.sort{
	float:right;
	margin:10px;
}

select{
	border:0;

}

.product{
	height: 160px;
	display: inline-block;
	padding:10px;
}

/*------------------------------------------*/

.productSelect{
	color:black;
}
.productSelect:hover{
	color:black;
	text-decoration:none;
}
.productListDiv {
	padding: 20px 0px;
}

.productWrapDiv {
	display: inline-block;
	padding: 10px;
	margin: 6px 0px;
	border:1px solid white;
}

.productWrapDiv:hover{
	border:1px solid #d3d3d3a8;
}

.productImageWrap {
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;
	padding-bottom: 100%;

}

.productImageDiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

}

.productImage{
	width: 100%;
	height: 100%;
	border-radius:8px;
}

.productInfo {
	padding:10px;

}
.brandName{
	font-size: 0.8em;
	color:#05161fad;
	margin:0;
}
.name {
	color:#424242;
}

.saleRate {
  color: #35c5f0;
  font-size:1.3em;
  font-weight:700;
}

.salePrice {
  font-size:1.2em;
  font-weight:600;
  margin-left:5px;
  color:#000;
}

.grade {
	color: rgb(53, 197, 240);
	font-size:1.0em;
	font-weight:500;
}

.gradePoint {
	font-weight:600;
	font-size:0.8em;
}

.review {
	margin-left:5px;
	color: #999;
	font-weight:600;
	font-size:0.8em;
}

.reviewCount {
	color: #999;
	font-weight:600;
	font-size:0.8em;
}

.deli{
	font-weight:600;
	font-size:0.8em;
}

.saleDelivery1 {
	font-weight:600;
	font-size:0.8em;
}

.saleDelivery2 {
	font-weight:600;
	font-size:0.8em;
}

.stock {
	font-weight:600;
}

.stockCount {
	font-weight:600;
	color:red;
}