@charset "UTF-8";

#header {
	height: 130px;
}
#banner {
	margin:40px 0px;
	height: 375px;
	
}
.container{
	margin-bottom: 30px;
}

.container-fluid{
	margin-left:0px;
	margin-right:0px;
	padding-left:0px;
	padding-right:0px;
}
h3{
	font-weight: 800;
	font-size: 1.4em;
}
#category{
	margin-top:20px;
}
.cat{
	display: inline-block;
	text-decoration:  none;
	float: left;
	margin-right: 10px;
	text-align: center;
	vertical-align:middle;
	width: 10%;
	height: 120px;
	font-weight: 700;
	padding-top:10px;
}
.cat:hover{
	border: 1px solid lightgray;
}
.cat-name{
	margin-bottom : 0px;
	line-height: 40px;
}
#category img{
	width: 60px;
	height: 60px;
}

/* 인기 키워드 */
.popkey{
	margin-bottom:20px;
}
#keyword{
	margin: 0 auto;

}
.keyword{
	height: 140px;
	display: inline-block;
	text-align: center;
	padding:10px;
}

#keyword img{
	width: 100%;
	height:auto;
}

/* 인기상품 */

.subject{
	display:block;
	margin: 20px 0px;
}
.popular{
	display:inline-block;
}
.sort{
	float:right;
	margin:10px;
}

select{
	border:0;

}

.product{
	height: 160px;
	display: inline-block;
	padding:10px;
}